* {
    background: #{{base00}}e5;
    backgroundAdditional: #{{base0D}};
    background-alt: #00000000;
    foreground: #{{base05}};
    selected: @backgroundAdditional;
}

window {
    border-color: #{{base0D}}; 
}
