#!/usr/bin/env nu

(swaylock 
    -f 
    --image /home/mrb/.config/wallpaper.png 
    --clock 
    --font "VictorMono NF Medium" 
    --indicator 
    --indicator-radius 100 
    --indicator-thickness 7 
    --effect-blur 12x9 
    --ring-color {{base01}}ff 
    --key-hl-color {{base0D}}ff 
    --bs-hl-color {{base08}}ff 
    --line-color 00000000 
    --inside-color {{base00}}e5 
    --separator-color 00000000 
    --text-color {{base05}}ff 
    --ring-wrong-color {{base01}}ff 
    --line-wrong-color 00000000 
    --inside-wrong-color {{base08}}e5 
    --text-wrong-color 00000000 
    --ring-ver-color {{base01}}ff 
    --line-ver-color 00000000 
    --inside-ver-color {{base0B}}e5 
    --text-ver-color 00000000 
    --ring-clear-color {{base01}}ff 
    --line-clear-color 00000000 
    --inside-clear-color {{base00}}e5 
    --text-clear-color 00000000 
    --grace 2 
    --fade-in 0.1) 
